* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: rgb(204, 204, 204);
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Lobster", cursive;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(204, 204, 204);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.square {
  width: 70px;
  height: 70px;
  border: 1.5px solid black;
  margin: -3px;
  display: inline-block;
}

.square.light-box {
  background: white;
}

.square.dark-box {
  background-color: #5d4954;
}
