* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: rgb(204, 204, 204);
  letter-spacing: 3px;
  font-size: 20px;
  font-family: "Lobster", cursive;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(204, 204, 204);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.square {
  width: 9vh;
  height: 9vh;
  margin: -3px; 
  display: inline-block;
}

.square.light-box {
  background: white;
}

.square.dark-box {
  background-color: #5d4954;
}

.lootbox {
  width: 100%;
  height: 30vh;
  background-color: pink;
}

.grandmaster-card {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: yellow;
}

.product-pack {
  width: 100%;
  height: 40vh;
  background-color: white;
}

.piece-set {
  width: 100%;
  height: 40vh;
  background-color: aquamarine;
}

.board-set {
  width: 100%;
  height: 40vh;
  background-color: burlywood;
}

.boosters {
  width: 100%;
  height: 40vh;
  background-color: wheat;
}

.emoji {
  width: 100%;
  height: 40vh;
  background-color: purple;
}

.producticon {
  position: absolute;
  width: 6vh;
  height: auto;
  top: 3vh;
  left: 1vh;
}

.purchasebutton {
  position: absolute;
  width: 100%;
  height: 2.2vh;
  border: none;
  bottom: 0;
  font-size: 1.2vh;
}

.producttitle {
  position: abosolute;
  font-size: 1.8vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.productS {
  position: relative;
  width: 27vh;
  height: 15vh;
  background-image: -webkit-linear-gradient(bottom left, rgba(255, 255, 255, 0) 80%,rgb(255, 218, 97) 0%);
  border: 1px solid rgb(236, 196, 62);
}

.discount {
  position: absolute;
  font-size: 2vh;
  top: 9.2vh;
  right: 8vh;
  color: red;
  font-weight: bold;
}

.description {
  position:absolute;
  font-family: "Montserrat", sans-serif;
  left: 8vh;
  top: 3vh;
  right: 5vh;
}

.price{
  position: absolute;
  font-size: 2vh;
  top: 9.2vh;
  left: 8vh;
}

.diamond {
  position: absolute;
  width: 2vh;
  height: auto;
}

.rarity {
  position: absolute;
  font-size: 2vh;
  top: 0vh;
  right: 1vh;
}

.productA {
  width: 10vh;
  height: 6vh;

}

.productB {
  width: 10vh;
  height: 6vh;

}

.productC {
  width: 10vh;
  height: 6vh;

}

.productD {
  width: 10vh;
  height: 6vh;

}

.productF {
  width: 10vh;
  height: 6vh;
  
}




